:root {
  --white: #ffffff;
  --light-grey: #f8f9fb;
  --grey: grey;
  --black: #000000;

  --red: #ff4a4a;

  --light-green: #f6ffe8;
  --green: #8a9b6e;
  --dark-green: #354733;

  // --accent-color: #b99274;

  --light-purple: #f3f3fb;
  --purple: #926e9c;
  --dark-purple: #48304f;

  // --orange: #ec9704;
  // --yellow: #f7c815;

  // --light-blue: #69dcff;
  // --dark-blue: #1a3740;

  // --warm-brown: #9c4a1a;
  // --light-brown: #a78b71;
  // --dark-brown: #332415;
}
