:root {
  --white: #ffffff;
  --light-grey: #f8f9fb;
  --grey: #b3b3b3;
  --black: #000000;

  --red: #ff4a4a;

  --light-green: #f6ffe8;
  --green: #8a9b6e;
  --dark-green: #354733;

  --light-purple: #f3f3fb;
  --purple: #926e9c;
  --dark-purple: #48304f;
}
